.container{
    
    overflow-x: auto; 
    white-space: nowrap; 
    box-shadow: 5px 5px 5px gray;
    padding: 10px; 
    margin: 20px;
    overflow-y:hidden;
    scrollbar-color: transparent transparent;
    
}
