
.table{
    overflow: auto;
    max-width: 100%;
    height: calc(100vh - 70px);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}
img{
    margin: 5px;
}


@media only screen and (max-width: 768px) {
    .table {
        overflow-x: auto; /* Add horizontal scroll */
        max-width: 100%;
        height: calc(100vh - 70px);
    }

    th, td {
        padding: 4px; /* Adjust padding for smaller screens */
        font-size: 12px; /* Adjust font size for better readability */
    }

    img {
        margin: 3px; /* Adjust image margin for smaller screens */
    }
}
